@page "{id:int}"
@model AgenciaTurismo.Pages.Exercicios.Exercicio07.CidadeDestinoDetailsModel
@{
    ViewData["Title"] = "Detalhes da Cidade";
}

<h2>Detalhes da Cidade</h2>

@if (Model.CidadeDestino != null)
{
    <div class="card p-4 shadow-sm border rounded" style="max-width: 500px;">
        <p><strong>ID:</strong> @Model.CidadeDestino.Id</p>
        <p><strong>Nome:</strong> @Model.CidadeDestino.Nome</p>
        <p><strong>Cidade:</strong> @Model.CidadeDestino?.Nome</p>
        <p><strong>País:</strong> @Model.CidadeDestino?.PaisDestino?.Nome</p>

    </div>
}
else
{
    <div class="alert alert-warning">Cidade não encontrada.</div>
}
