@page
@model AgenciaTurismo.Pages.IndexModel
@{
    ViewData["Title"] = "Agência de Turismo - Exercícios";
}

<h2 class="text-center mt-4 mb-4">AT - Desenvolvimento Web com .NET e Bases de Dados</h2>

<div class="card shadow-sm mx-auto" style="max-width: 600px;">
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a class="text-decoration-none" asp-page="/Exercicios/Exercicio01/Index">Exercício 01 — Delegate para Cálculo de Descontos</a>
            </li>
            <li class="list-group-item">
                <a class="text-decoration-none" asp-page="/Exercicios/Exercicio02/Index">Exercício 02 — Multicast Delegate para Logs</a>
            </li>
            <li class="list-group-item">
                <a class="text-decoration-none" asp-page="/Exercicios/Exercicio03/Index">Exercício 03 — Cálculo com Func</a>
            </li>
            <li class="list-group-item">
                <a class="text-decoration-none" asp-page="/Exercicios/Exercicio04/Index">Exercício 04 — Evento de Capacidade</a>
            </li>
            <li class="list-group-item">
                <a class="text-decoration-none" asp-page="/Exercicios/Exercicio05/CreateCidade">Exercício 05 — Cadastro de Entidade com Validação</a>
            </li>
            <li class="list-group-item">
                <a class="text-decoration-none" asp-page="/Exercicios/Exercicio06/CreatePacote">Exercício 06 — Cadastro de Entidade com Objeto Complexo</a>
            </li>
            <li class="list-group-item">
                <a class="text-decoration-none" asp-page="/Exercicios/Exercicio07/CidadeDestinoDetails" asp-route-id="1">Exercício 07 — Detalhamento via Roteamento na URL</a>
            </li>
            <li class="list-group-item">
                <a class="text-decoration-none" asp-page="/Exercicios/Exercicio08/ViewNotes">Exercício 08 — Sistema de Notas com Leitura e Escrita de Arquivos</a>
            </li>
            <li class="list-group-item">
                <a class="text-decoration-none" asp-page="/Exercicios/Exercicio11/Index">Exercício 11 — Operações CRUD com Scaffolding e Personalização</a>
            </li>
            <li class="list-group-item">
                <a class="text-decoration-none" asp-page="/Exercicios/Exercicio12/Index">Exercício 12 — Exclusão Lógica e Autenticação</a>
            </li>
        </ul>
    </div>
</div>
